 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
section {
  padding: 20px;
}


/* 
   HEADER */
.planner-header {
  text-align: center;
  padding: 15px;
  background: #3127f3;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

#date {
  font-size: 18px;
  font-weight: bold;
  color: #f1ecec;
}


/* 
   CARDS / TIME BLOCKS
 */
.section-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  }
.section-card textarea {
  resize: both;
  }

.time-block {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #0d6efd;
  background: #fafafa;
  border-radius: 10px;
}

.time-block strong {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #0d6efd;
}


/* 
   TASK LIST */
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s;
}

.list-group-item:hover {
  background: #f0f4ff;
}


/* Task content */
.task-content {
  display: flex;
  align-items: center;
  gap: 8px;
}


/*
   BUTTONS */
.add-task-button {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.add-task-button:hover {
  background: #0b5ed7;
}

.delete-button {
  border: none;
  background: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-button:hover {
  background: #bb2d3b;
}


/* 
   INPUTS
*/
.newTask {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 10px;
  outline: none;
  }


.newTask:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 3px rgba(13, 110, 253, 0.4);
}


/* 
   PRIORITY SECTION
*/
.priority-item {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.priority-item input[type="text"] {
  flex: 1;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
textarea {
  border-radius: 10px !important;
  resize: none;
}
.task-checkbox {
  cursor: pointer;
}